 

h2{
	margin-top: 20px;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}

.grid{
	width: 100%;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
}

.weather{
	margin:0 auto;
	border: 1px solid black;
	width: 25%;
	height: 400px;
}

#threeDayGrid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	background: white;
}

.threeDay{
	border: 3px solid #6F6F6F;
	width: 25%;
	padding-left: 10px
}

#credit{
	margin-top: 35px;
	margin:0 auto;
	
}

#logo{
	width:25%;
	float:right;
	background:white;
	padding: 5px;
	height: 100%;
}


header{
	height: 100%;
	font-family: "Times New Roman", Times, serif;
	font-size: 4em;
	color: white;
	background: #183C4E;
	margin: 0;
	padding: 15px;
}

h1{
	display: inline;
}

#buttons{
	display: inline;
	float: right;
}

*/
.container{
	width: 750px;
	margin:0 auto;
}


.navbar-default{
	background: #2F9458;
}



.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}
