* {
	
	box-sizing: border-box;
}

.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.weather{
	margin:0 auto;
	border: 1px solid black;
	width: 25%;
	height: 400px;
}

#threeDayGrid{
	width: 100%;
		display: flex;
	flex-wrap: wrap;

}

.threeDay{
	border: 1px solid black;
	width: 25%;
	height: 400px;
}
#credit{
	margin-top: 35px;
	margin:0 auto;
	width: 100%;
}

#logo{
	width:100%;
}

